body {
	font-size: 1.3em;
	background-color: orange
}
textarea {
	width: 500px;
	height: 200px;
}

#idea_box_list {
	border-style: solid;
	border-color: #000;
	border-width: 3px;
	background-color: #00FFFF;
}